{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.image) }}
    {{ form_row(form.availability) }}
    {{ form_row(form.dateAdded) }}
    {{ form_row(form.category) }}
    {{ form_row(form.partner) }}
    <button type="submit">Ajouter</button>
{{ form_end(form) }}


